<div fxLayout="row wrap" fxLayoutAlign="center">


<div class="adotar">
    <div class="cards">

        <mat-card class="card">

            <mat-card-content>

                <mat-card-title class="title" align="center">
                    <h1>Sobre o Projeto</h1>
                </mat-card-title>

                <p align="justify">
                    Olá, somos o Meawdota, uma aplicação web com a finalidade de facilitar a adoção de animais, auxiliando aqueles em situação de rua, resgatados ou em lares temporários e seus respectivos anuciantes a encontrarem um novo amigo, visando contribuir com a diminuição nos casos de abandono de animais de estimação, proporcionando a estes um lar permanente.
                </p>

                <div class="imagem">
                    <img mat-card-image src="assets\img-sobrenos\todomundo.jpg" style="width:48rem ; height:auto" />
                </div>

            </mat-card-content>

            <mat-card-content>
                <mat-card-title class="title" align="center">
                    <h1>Nosso Time</h1>
                </mat-card-title>

                <p align="justify">
                    Para esse projeto ocorrer, precisamos montar uma grande equipe e nos organizar para o trabalho,
                    então nos separamos em quatro times, sendo eles: Back-end, Front-end, Banco de Dados e Documentação.
                </p>

            </mat-card-content>

            <mat-card-content>
                <mat-card-title class="title" align="center">
                    <h2>Banco de Dados</h2>
                </mat-card-title>

                <div class="imagem">
                    <img mat-card-image src="assets\img-sobrenos\bancodedados.jpg" style="width:48rem ; height:auto" />
                </div>

                <p align="justify">
                    Foi usado PostgreSQL por se tratar de um banco de dados muito utilizado na atualidade, além da facilidade na utilização em nuvem. Os integrantes desse grupo são: <b>Gustavo Ramos</b>, <b>Tarcísio Mendonça</b>, <b>Carlos Cavalcante</b>, <b>Carleson Kalebe</b>, <b>Asafe dos Reis</b> e <b>Stanley da Silva</b> .
                </p>
            </mat-card-content>

            <mat-card-content>
                <mat-card-title class="title" align="center">
                    <h2>Documentação</h2>
                </mat-card-title>

                <div class="imagem">
                    <img mat-card-image src="assets\img-sobrenos\doc.jpg" style="width:48rem ; height:auto" />
                </div>

            </mat-card-content>

            <mat-card-content>
                <mat-card-title class="title" align="center">
                    <h2>Back-end</h2>
                </mat-card-title>

                <div class="imagem">
                    <img mat-card-image src="assets\img-sobrenos\back.jpg" style="width:48rem ; height:auto" />
                </div>

                <p  align="justify">
                    No Back-end foi utilizado o NodeJS. O grupo do Back-end é composto por:  <b>Heluzio de Souza</b>,<b> João Gabriel</b>  e <b> Vinicius Pontes</b>.
                </p>
    
            </mat-card-content>

            <mat-card-content>
                <mat-card-title class="title" align="center">
                    <h2>Front-end</h2>
                </mat-card-title>

                <div class="imagem">
                    <img mat-card-image src="assets\img-sobrenos\euelia.png" />
                   </div>
                <p  align="justify">
                    No Front-end utilizamos o framework Angular (plataforma de aplicações web de código-fonte aberto e front-end baseado em TypeScript), pela sua consistência e capacidade de reutilização de código e fácil aprendizado. Foi desenvolvido por: <b>Vinicius Gabriel</b> e <b>Analia Victoria</b>.
                </p>
            </mat-card-content>

        </mat-card>


    </div>

</div>