<div class="homeclass">
    <div class="roww">
        <div class="text">
            <h1 class="frase1"> Encontre Seu <br>Novo Melhor Amigo</h1>
            <div class="buttons">
                <a class="adote" mat-raised-button color="accent" routerLink="cards"
                    routerLinkActive="active-link">Adote um novo amigo</a>
                    <a class="cadastre" mat-raised-button color="primary" routerLink="/cadastroanimal"
                    routerLinkActive="active-link">Cadastre um Animal</a>
            </div>
        </div>
        
        <div class="banner">
            <a>
                <img src="\assets\img\animated.svg" alt="" />
            </a>
        </div>

    </div>

    <div class="adotar" >
        <h1>Por que Adotar ?</h1>

        <div class="cards">
            
                <mat-card style="width: 18rem; height: 27rem">
                    <img mat-card-image src="assets\img\banner.jpg" />
                    <mat-card-content>
                        <mat-card-title class="title">
                            Ter um pet em casa trás felicidade para o lar
                        </mat-card-title>
    
                        <p>
                            Do mesmo modo em que você pratica o bem para o pet, ele também se
                            esforça para proporcionar momentos de alegria para sua vida.
                        </p>
                    </mat-card-content>
                </mat-card>
           
            
            
                <mat-card style="width: 18rem; height: 27rem">
                    <img mat-card-image src="assets\img\dogs.jpg" />
                    <mat-card-content>
                        <mat-card-title class="title">
                            Diminui o número de animais abandonados
                        </mat-card-title>
    
                        <p>
                            Ao concretizar uma adoção responsável você está proporcionado uma
                            vida de mais qualidade para o pet.
                        </p>
                    </mat-card-content>
                </mat-card>
           
            

            <mat-card style="width: 18rem; height: 27rem">
                <img mat-card-image src="assets\img\gatosnacesta.jpg" />
                <mat-card-content>
                    <mat-card-title class="title">
                        Você estará resgatando uma vida
                    </mat-card-title>

                    <p>
                        Ao adotar, você estará garantindo que ele tenha uma oportunidade de
                        sobreviver e de desfrutar de uma vida feliz e saudável com alguém
                        que o ama.
                    </p>

                </mat-card-content>
            </mat-card>

        </div>

        <div class="buttonsalva">
            <a class="cadastre" mat-raised-button color="accent" routerLink="/cadastroanimal"
                routerLinkActive="active-link">Cadastre um Animal</a>
        </div>

    </div>
</div>