<div class="adotar">
    <div class="cards">

        <mat-card class="card" style="max-width:50rem; height: auto">
           
            <mat-card-content>

                <mat-card-title class="title">
                <h1>Quero Ajudar</h1>
                </mat-card-title>

                <p>
                    Do mesmo modo em que você pratica o bem para o pet, ele também se
                    esforça para proporcionar momentos de alegria para sua vida.
                </p>

                <div class="imagem">
                    <img mat-card-image src="assets\img\cat-and-dog.svg" style="width:24rem ; height:auto"/>
                </div>
                
                <p>
                    A cada 5 reais, você ajuda 1 animal de estimação a ter a melhor oportunidade de encontrar um lar. Nós só precisamos da sua ajuda. Para doar, você pode fazer uma transferência bancária, PIX ou contribuir mensalmente.
                </p>
                
<!-- RESOLVER
                <div class="currency-field">
                    <mat-form-field appearance="fill" floatLabel="always">
                      <mat-label>Quantia</mat-label>
                      <input matInput type="number" class="currency-right-align" placeholder="0">
                      <span matPrefix>$&nbsp;</span>
                      <span matSuffix>.00</span>
                    </mat-form-field>
                </div>
-->
                

            </mat-card-content>
        </mat-card>

    </div>

</div>