<mat-toolbar class="navbar v-middle">
    <div class="logo">
      <a routerLink="" routerLinkActive="active-link">
        <img src="assets\img\logo.png" alt="" width="90" height="auto" />
      </a>
    </div>
  
    <div class="pages">
      <a mat-button routerLink="" routerLinkActive="active-link">Home</a>
      <a mat-button routerLink="cards" routerLinkActive="active-link">Adote</a>
      <a mat-button routerLink="apoie" routerLinkActive="active-link">Apoie</a>
      <a mat-button routerLink="sobrenos" routerLinkActive="active-link">Sobre Nós</a>
      <a mat-button routerLink="parceria" routerLinkActive="active-link">Parceria</a>
    </div>
  
    <div class="login">
      <a class="cadastrar" mat-raised-button color="accent" routerLink="cadastro" routerLinkActive="active-link">Cadastre-se</a>
      <a class="entrar" mat-raised-button color="primary" routerLink="login" routerLinkActive="active-link">Entrar</a>
    </div>
  
  </mat-toolbar>