<div class="footer">

    <div class="content">

    </div>

    <div class="pages">
        <a mat-button routerLink="" routerLinkActive="active-link">Home</a>
        <a mat-button routerLink="adote" routerLinkActive="active-link">Adote</a>
        <a mat-button routerLink="apoie" routerLinkActive="active-link">Apoie</a>
        <a mat-button routerLink="sobrenos" routerLinkActive="active-link">Sobre Nós</a>
    </div>



    <div class="logo">
        <a class="logomeaw">
            <img src="assets/img/MeawDota.png" alt="" width="70" height="auto" />
        </a>
        <a class="logoinova">
            <img src="assets/img/inovalogo" alt="" width="80" height="auto" />
        </a>
    </div>

    <footer class="abaixo"></footer>
</div>