html, body { 
    background-image: url("assets/img/background.png");
    background-repeat: repeat;
    height: 100%; 
    width: 100%;
}
body { 
    margin: 0; 
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: #fff ;
    
}

:root {
    --primary-color: #ffd700;
    --secondary-color: #9d69bf;
    --secondary-dark-color: #715081;
    --yellow-color: #FFDD44;
  }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
