<div class="conhecer" fxLayout="row wrap" fxLayoutAlign="center">


<mat-card class="conhecer-row">

    <div class="main-card-col" width="20rem">

        <h1><mat-icon style="color: #9d69bf"></mat-icon> Sobre Mim</h1>


            <h3>Características</h3>

            <p>
                <b>Sexo: </b> <mat-chip>Macho</mat-chip>
            </p>
        
            <h3>Saúde</h3>
            <mat-chip-list>
                <mat-chip>Castrado</mat-chip>
                <mat-chip>Vacinado</mat-chip>
              </mat-chip-list>

            <h3>Conheça o Jon Snow</h3>
    
            <p>O Jon Snow é apenas um jovem cachorro super relaxado. Ele adora ficar no quintal correndo e pulando na piscina. Ele está aprendendo a andar na coleira e precisará de treinamento básico, mas está pronto para um lar permanente com você!</p>
            
    </div>

    <div class="img-pet-col">
        <img src="assets/pets/dog1.jpg" class="img" />
    </div>
       

</mat-card>

</div>

