.cadastroanimal{
  display: flex;
  align-items: center;
  align-items: row;
  justify-content: center;
  }

mat-card-title{
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  align-items: center;
  font-size: 34px;
  font-weight: 500;
}

input{
  font-size: 16px;
  width:26rem;
  height: 1.5rem;
  border-radius: 0.3rem;
}

select{
  font-size: 16px;
  width:26rem;
  height: 2rem;
  border-radius: 0.3rem;
}

option{
  font-size: 16px;
  width:26rem;
  height: 2rem;
  border-radius: 0.3rem;
}

textarea{
  font-size: 16px;
  border-radius: 0.3rem;
}

.cadastroanimal p{
      color: aliceblue;
      font-weight:500;
      margin: 0;
      margin-bottom: 0.5rem;
      padding: 0;
      font-size: 18px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

mat-card-title{
      color: aliceblue;
      font-weight: bold;
}

.banner img {
  width: 42vw;
  height: 221.5vh;
}

.banner {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom:3rem;
  
}

.formulario {
    display: flex;
    margin-top: 1rem;
    margin-bottom:3rem;
    box-shadow: 10px 5px 5px rgba(17, 12, 46, 0.15);
    background-color: #715081;
    width: 42vw;
    height: 220vh;
}
  
form{
    display: flex;
    margin-left: 8rem;
    flex-direction: column; 
}

.descricao-full-width {
  width: 100%;
}
