.cardbody{
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 4rem;
}

.filters{
  margin: 1rem;
}

.buttonsalva{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.buttonsalva a{
  display: flex;
  padding: 12px 16px;
  font-size: 18px;
  font-weight: bold;
}

.buttonsalva :hover{
  box-shadow: 10px 5px 5px rgba(17, 12, 46, 0.15);
}

.mat-card-actions a{
  display: flex;
  justify-content: center;
}

.mat-card-actions :hover{
  box-shadow: 10px 5px 5px rgba(17, 12, 46, 0.15);
}

mat-card{
  margin-right: 0.5rem;
  margin-top: 2rem;
}

.pet-cards {
  width: 240px;
  height: 500px;
}

mat-card-content{
  width: 16rem;
  height: 4rem;
}

.mat-card>.mat-card-actions:last-child {
  margin-bottom: 6px;
}

.mat-card-actions, .mat-card-subtitle, .mat-card-content {
  display: block;
  margin-bottom: 8px;
}

.mat-card-actions{
padding: 8px;
margin-top: 6px;
margin-left: -12px;
margin-right: -13px;
}

.mat-chip {
  font-size: 11px;
  font-weight: 500;
}

.mat-paginator {
  background: rgb(0 0 0 / 0%);
}